.star-rating {
    width: 100vw;
    height: 100vh
}

.active {
    color: rgb(235, 235, 27)
}

.inactive {
    color: black
}

.message {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}